<!DOCTYPE html>
<html lang="en">
<th:repal></th:repal>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aavas Financiers Ltd- File Tracking System | Sign In Employee</title>
  <link rel="stylesheet" href="./style/style-sing.css">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
  <section class="h-100 gradient-form background-radial-gradient overflow-hidden">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">

                  <div class="text-center">
                    <img src="./images//logo.png" style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Tracking File Aavas </h4>
                  </div>

                  <form action="./index.html" id="myForm" method="">
                    <p>Login Employee</p>

                    <!-- <div th:if="${param.error}" class="alert alert-success my-2 text-center">
                      Invalid Username and password
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success my-2 text-center">
                      You have been logged out
                    </div>
                    <div th:if="${param.change}" class="alert alert-success my-2 text-center">
                      <p th:if="${param.change}"></p>
                    </div> -->

                    <div class="form-outlcne mb-4">
                      <input type="email" id="form2Example11" class="form-control" placeholder="Email address"
                        required />
                      <!-- <label class="form-label" for="form2Example11">Username</label> -->
                    </div>
                    <div class="form-outline mb-4">
                      <input type="password" id="form2Example22" class="form-control" placeholder="Password" required />
                      <!-- <label class="form-label" for="form2Example22">Password</label> -->
                    </div>

                    <div class="text-center pt-1 mb-5 pb-1">
                      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Sign
                        In</button><br>
                      <a class="text-muted" href="./forgot_email_form.html">Forgot password?</a>
                      <!-- <a th:href="@{/forgot}">Forgot password?</a> -->
                    </div>

                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">Don't have an account?</p>
                      <button type="button" onclick="postData()" class="btn btn-outline-danger" id="myButton">Sing
                        Up</button>
                    </div>

                  </form>

                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center "
                style="background: linear-gradient(to right, #a94a51, #324b77, #2e456f, #632b53);;">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">AAVAS FINANCIERS LIMITED</h4>
                  <p class="small mb-0">
                  <h5>Why do we do it</h5> A File tracking system, also known as a locating file, is used for the
                  observing of Aavas Financiers on the move and supplying a timely ordered sequence of location data for
                  further processing.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="./script/login_script.js"></script>

</html>